.campaigns-view-container {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4; 
  min-height: calc(100vh - 80px); 
}

.campaigns-view-title {
  font-size: 2.5em; 
  color: #333; 
  margin-bottom: 40px; 
  font-weight: bold;
}

.campaigns-list {
  flex-wrap: wrap; 
    justify-content: center; 
  gap: 30px; 
  width: 100%;
  max-width: 1200px; 
}