.campaign-image-background {
    width: 100%;
    height: 180px;  
    min-height: 180px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #cccccc; 
}

.campaign-card {
    background-color: #ffffff; 
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px; 
    overflow: hidden;
    
}

.campaign-card:hover {
  transform: translateY(-5px);
}

.campaign-icon {
  width: 60px;
  height: 60px;
}

.card-dots {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.dot.active {
  background-color: white;
}

.participate-button {
  background-color: #5900ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  gap: 5px;
}

.participate-button:hover {
  background-color: #256d44;
}

.participate-button .arrow {
  font-size: 1.1em;
}
.campaigns-list {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  gap: 40px;            
  width: 100%;
  padding-bottom: 100px; 
}
