.campaign-card {
  background-color: #ccd6cc;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.campaign-card:hover {
  transform: translateY(-5px);
}

.campaign-icon-container {
  background-color: white;
  border-radius: 10px;

  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.campaign-icon {
  width: 60px;
  height: 60px;
}

.card-dots {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.dot.active {
  background-color: white;
}

.participate-button {
  background-color: #5900ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  gap: 5px;
}

.participate-button:hover {
  background-color: #256d44;
}

.participate-button .arrow {
  font-size: 1.1em;
}
